
.product {
    margin-bottom: 2em;
}

.buttons {
    margin-top: auto;
}

.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mat-button {
    background: cadetblue;
}

.mat-button[disabled] {
    background:gray;
}
.sold {
    color: red;
    padding-left: 10px;
}

.category {
    position: fixed;
    right: 20px;
    color: cadetblue;
}

.updatedDate {
    font-size: 10px;
    filter: opacity(.5);
}