
.product {
    margin-bottom: 2em;
}

.buttons {
    margin-top: auto;
}

.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mat-button {
    background: cadetblue;
}

.mat-button[disabled] {
    background:gray;
}
.sold {
    color: red;
    padding-left: 10px;
}