<li class="product">
  <mat-card appHightlight [ngStyle]="{'filter': product.count > 0 ? 'opacity(1)' : 'opacity(.2)' }" class="product-card">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle><strong>Price: {{ product.price }} $</strong></mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="product.imageUrl" mat-card-image [src]="product.imageUrl">
    <mat-card-content>{{ product.description }}</mat-card-content>
    <mat-card-actions class="buttons">
        <app-counter [count]="getCount()" [maxCount]="product.count" [minCount]="1" (decrease)="onDecrease()" (increase)="onIncrease()"></app-counter>
        <a mat-button (click)="onBuy($event)" [disabled]="!(product.count > 0)">Buy</a>
      <span class="sold" *ngIf="!(product.count > 0)">SOLD OUT</span>
    </mat-card-actions>
  </mat-card>
</li>
